name: Docker-Compose - Prod Build

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Launch the docker-compose
      working-directory: ./
      run: docker compose -f docker-compose.prod.yml up --build
    - name: Stop containers
      if: always()
      run: docker-compose -f "docker-compose.prod.yml" down